<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>Dynamic Table</title>
        <link href="{{ url_for('static', filename='css/tracking_styles.css') }}" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        </link>
    </head>
<body>
    <div>
        <select class="select2filter" id="dropdown-izometria">
            <option disabled="" selected="" value="">Izometria</option>
        </select>
        <select class="select2filter" disabled="" id="dropdown-lap">
            <option disabled="" selected="" value="">Lap</option>
        </select>
        <select class="select2filter" disabled="" id="dropdown-kategoria">
            <option disabled="" selected="" value="">Kategoria</option>
        </select>
        <button onclick="fetchData()">Filter</button>
        <button onclick="recordData()">Record</button>
        <table id="data-table" style="display: none;"></table>
        <script src="{{ url_for('static', filename='js/tracking.js') }}"></script>
        <script>
            $(document).ready(function() {
                $(".select2filter").select2();
            });
        </script>
        <script>
            const pageName = "Nyomonkovetes";
        </script>
        <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    </div>
</body>
</html>